<!DOCTYPE html>
<html lang="en">
<head>
    <title>Server side rendering demo</title>
</head>
<body>
<div id="root"><%- reactApp %></div>
<script src="../dist/bundle.js" charset="utf-8"></script>  
</body>
</html>